
hr {
  display: inline-block;
  width: 300px;
}

/*
ul {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

ul:before, ul:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: red;
}
*/

/*
ul:before, ul:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}
ul:after {
  margin: 0 -55% 0 .5em;
}
*/
/*
.heading:before, .heading:after,
.heading-ie span.after, .heading-ie span.before {
  content: '';
  flex-grow: 1;
  margin: 0px 4px;
  background: linear-gradient(to right, white, white);
  background-size: 100% 2px;
  background-position: 0% 50%;
  background-repeat: repeat-x;
}
*/
